*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    color: #000;
}

.owl-carousel {
    margin-left: 50px;
    margin-right: 50px;
}

.owl-carousel .item {
    max-width: 400px;
}

.owl-carousel .button-cart {
    border: none;
    background: #F2C94C;
    width: 200px;
}

.title,#discount .title,#Rate .title{
    /* position: absolute; */
    text-align: center;
    font-weight: 700;
    margin-top: 29px;
}

.carousel {
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

.btn-add
{
    width: 50%;
    margin-left: 25%;
}


#discount{
    margin-top: 23px;
    position: relative;
}
#discount .note{
    margin-left: 36%;
    margin-right: 34%;
    font-size: 20px;
    margin-top: 50px;
}
#Rate{
    position: relative;
}
#Rate .sumRate{
    position: relative;
    margin-top: 30px;
    width: 263px;
    height: 161px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-left:20%;
}
#Rate .logo{
    /* position: absolute;   */
    width: 70%;
    margin-top: 214px;
    margin-left: 40%;
    top: 265px;
    border-radius: 296px;
}
#Rate .RateLogo{
    width: 40%;
    float:left;
}
#Rate .RateList{
    width: 60%;
    float:right;
}
#Rate .Rate1, #Rate .Rate2{
    position: relative;
    margin-top: 44px;
    width: 505px;
    height: 286px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-left:20%;
}
#Rate .RateInfo{
    overflow: hidden;
}
#Rate .danhgia{
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    left: 36px;
    top: 33px;  
}
#Rate .avatar1{
    position: absolute;
    left:29px;
    top:72px;
}
#Rate .avatar2{
    position: absolute;
    left:72px;
    top:72px;
}
#Rate .avatar3{
    position: absolute  ;
    left:114px;
    top:72px;
}
#Rate .des1{
    position: absolute;
    margin: 10px 10px 20px 10px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
#Rate .cus_avatar{
    position: absolute;
    margin-left: 10px;
    margin-top:130px;
}
#Rate .cus_name{
    position: absolute;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-left: 85px;
    margin-top:130px;
}
#Rate .cus{
    position: absolute;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    margin-left: 85px;
    margin-top: 150px;
    opacity:0.6;
}
#Rate .rating{
    position: absolute;
    margin-left: 10px;
    margin-top: 225px;
}
#Rate .checked{
    color: rgb(255, 201, 7)
}
#Rate .fa-star{
    padding: 0px 10px
}
#Rate .star {
    display: inline-block;
}

#Rate .RateNum{
    font-weight: bold;
    padding-left: 25px;
    padding-top:10px;
}
#Rate .watchMorediv, #suggestFood .watchMorediv{
    margin-top: 73px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    padding: 14px 32px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}
#Rate .watchMore ,#suggestFood .watchMore{
    text-decoration: none;
    color:#000;

}
#Rate .circle{
    width: 64px;
    height: 64px;
    background-color: #EB5757;
    border-radius: 50%;
    text-align: center;
    line-height: 64px;
    position: absolute;
    left: 156px;
    top: 72px;
    color:#fff;
}