*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    color: #000;
}

.box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 120px;
    margin-bottom: 50px;
}

.item {
    position: relative;
    box-sizing: border-box;
    margin: 20px;
    height: 320px;
    background: #FFFFFF;
    border: 2px solid #838DE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.item .box >a{
    position: absolute;
    width: 50%;
    margin-top:15px;
    left:10px;
    max-height: 234px;
}
.item .box >a img{
    width: 100%;
    object-fit: contain;
    margin-top: 20px;
    max-height: 200px;
}
.item .name-food,.item .rating,.item .dis-price-food,.item .new-dis-price-food{
    position: absolute;
    display: inline-block;
    right: 10%;
    left:60%;
    font-size: 160%;
}
.item .name-food{
    top:10%;
}
.item .rating{
    top:20%;
}
.item .dis-price-food{
    top:40%;
}
.RateNum{
    display: inline-block;
}
.item .new-dis-price-food{
    top:55%;
}
.item button{
    position: absolute;
    bottom: 5%;
    padding: 10px 20px;
}
.checked{
    color:yellow;
}
.item .dis-price-food{
    text-decoration: line-through;
}
h5 {
    padding: 0px 7px 0px;
}