*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    color: #000;
}

#main{}


#navBar{
    width: 100%;
    height: 78px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    z-index: 1;
}

#navBar li{
    display:inline-block;
    line-height: 78px;
}
#navBar .logoNav {
    width: 44px;
    height: 44px;
    left: 186px;
    top: 20px;
    border-radius: 296px;
    position: relative;
}
#navBar .search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 56px 12px 40px;
    gap: 12px;
    position: absolute;
    width: 336px;
    height: 44px;
    left: 288px;
    top: 20px;
    background: #F9FAFA;
    border: none
}
#navBar .search-box .location{
    padding: 12px 56px 12px 0px;
    background: #F9FAFA;
    border: none
}
#navBar #subNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    position: absolute;
    width: 305px;
    height: 19px;
    left: 728px;
    top: 35px;

}
#navBar #subNav li a{
    text-decoration: none;
    color:#000;
}
#navBar .login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    gap: 10px;
    position: absolute;
    width: 149px;
    height: 47px;
    left: 1108px;
    top: 19px;
    background: #FDF5AA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-decoration: none;
    color:#000;

}
#hotFood{
height: 555px;
background: #FDF5AA;
margin-top:78px;
}
#hotFood .listFood{
    width: 40%;
    float:left;
    margin:72px 0px 0px 126px;

}
#hotFood .listFood .listHotFood{
    list-style-type:decimal;
    line-height: 42px;
}
#hotFood .imgFood{
    float:left;
    width: 50%;
    margin: 72px 0px 0px 20px;  
}
#suggestFood{
    position: relative;
}
#suggestFood .title,#discount .title,#Rate .title{
    /* position: absolute; */
    text-align: center;
    font-weight: 700;
    margin-top: 29px;
}
#suggestFood .scrollFood{
    margin-top: 38px;
    list-style-type: none;
    overflow: auto;
    white-space: nowrap;
    padding: 0px 200px 0px 126px;
}
#suggestFood .scrollFood::-webkit-scrollbar {
    display: none;
}

#suggestFood .scrollFood li{
    position:relative;
    width: 300px;
    display:inline-block;
    margin-right: 50px;
    text-decoration: none;
    white-space: normal;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#suggestFood .scrollFood .food1{
    width: 300px;
    height: 241px;
    object-fit:contain;
}
#suggestFood .scrollFood > li .foodName{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 400;
}
#suggestFood .scrollFood > li .foodDes{
    margin-top: 5px;
    font-size: 15px;
    opacity: 0.6;
}
#suggestFood .scrollFood > li .price1{
    margin-top: 30px;
    text-decoration: line-through;
    font-size: 25px;  
    font-display:calc();  
    opacity: 0.4;
}
#suggestFood .scrollFood > li .price2{
    font-size: 25px;  
    font-weight: bold;  
}
#suggestFood .scrollFood > li .button{
    margin-top: 10px;
    margin-left:auto;
    margin-right: auto;
    height:52px;
    width: 60%;
    background-color: #F2C94C;
    text-align: center;
    line-height: 52px;
    cursor: pointer;

}
#suggestFood .scrollFood > li .ti-shopping-cart{
    padding-left: 10px;
}
/* #suggestFood .watchMore{
    position: absolute;
    padding: 14px 32px;
    text-align: center;
    color: #000;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    margin-top:29px;
} */
#discount{
    margin-top: 23px;
    position: relative;
}
#discount .note{
    margin-left: 126px;
    font-size: 20px;
    margin-top: 50px;
}
#Rate{
    position: relative;
}
#Rate .sumRate{
    position: relative;
    margin-top: 30px;
    width: 263px;
    height: 161px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-left:20%;
}
#Rate .logo{
    /* position: absolute;   */
    width: 70%;
    margin-top: 214px;
    margin-left: 40%;
    top: 265px;
    border-radius: 296px;
}
#Rate .RateLogo{
    width: 40%;
    float:left;
}
#Rate .RateList{
    width: 60%;
    float:right;
}
#Rate .Rate1, #Rate .Rate2{
    position: relative;
    margin-top: 44px;
    width: 505px;
    height: 286px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-left:20%;
}
#Rate .RateInfo{
    overflow: hidden;
}
#Rate .danhgia{
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    left: 36px;
    top: 33px;  
}
#Rate .avatar1{
    position: absolute;
    left:29px;
    top:72px;
}
#Rate .avatar2{
    position: absolute;
    left:72px;
    top:72px;
}
#Rate .avatar3{
    position: absolute  ;
    left:114px;
    top:72px;
}
#Rate .des1{
    position: absolute;
    margin: 10px 10px 20px 10px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
#Rate .cus_avatar{
    position: absolute;
    margin-left: 10px;
    margin-top:130px;
}
#Rate .cus_name{
    position: absolute;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-left: 85px;
    margin-top:130px;
}
#Rate .cus{
    position: absolute;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    margin-left: 85px;
    margin-top: 150px;
    opacity:0.6;
}
#Rate .rating{
    position: absolute;
    margin-left: 10px;
    margin-top: 225px;
}
#Rate .checked{
    color: rgb(255, 201, 7)
}
#Rate .fa-star{
    padding: 0px 20px
}
#Rate .RateNum{
    font-weight: bold;
    padding-left: 25px;
    padding-top:10px;
}
#Rate .watchMorediv, #suggestFood .watchMorediv{
    margin-top: 73px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    padding: 14px 32px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}
#Rate .watchMore ,#suggestFood .watchMore{
    text-decoration: none;
    color:#000;

}
#Rate .circle{
    width: 64px;
    height: 64px;
    background-color: #EB5757;
    border-radius: 50%;
    text-align: center;
    line-height: 64px;
    position: absolute;
    left: 156px;
    top: 72px;
    color:#fff;
}
#Footer{
    position: relative;
    margin-top: 110px;
    height: 468px;
    background-color: #FDF5AA;
    overflow: hidden;
}
#Footer .logo-bottom, #Footer .last{
    position: relative;
    top: 20px;
    border-bottom: solid 2px #EB5757    ;
    padding-bottom: 16px;
    margin: 0px 5%;
}
#Footer .logo{  
    width: 62px;
    border-radius: 50%;
    margin-left: 40px;
}
#Footer .list{
    margin: 0px 5%;
    margin-top: 32px;
    overflow: hidden;
}
#Footer .list >div{
    float:left;
}
#Footer .title{
    text-align: center;
    display:block;
    color:#000;
    text-decoration: none;
    margin-top:16px;
}
#Footer .ContactUs{
    width: 33.33333%;
    overflow: hidden;
}
#Footer .ContactUs >div{
    width: 100%;
    margin-top:25px;
    overflow: hidden;
}
#Footer .icon{
    float: left;
    margin-left: 93px;
}
#Footer .name{
    float: left;
    line-height: 46px;
    margin-left: 23px;
    color: black;
    text-decoration: none;
}
#Footer .instagram{ 
    position: relative;
}
#Footer .facebook .icon{
    padding: 5.5px 14px;
}
#Footer .Questions{
    float:left;
    width:33%;
} 
#Footer .Questions a{
    margin-top: 25px;
    display:block;
    line-height: 46px;
    color:#000;
    text-decoration: none;
    text-align: center;
} 