*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    color: #000;
}

#main{}


#navBar{
    width: 100%;
    height: 78px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
}

#navBar li{
    display:inline-block;
    line-height: 78px;
}
#navBar .logoNav {
    width: 44px;
    height: 44px;
    left: 186px;
    top: 20px;
    border-radius: 296px;
    position: relative;
}
#navBar .search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 56px 12px 40px;
    gap: 12px;
    position: absolute;
    width: 336px;
    height: 44px;
    left: 288px;
    top: 20px;
    background: #F9FAFA;
    border: none
}
#navBar .search-box .location{
    padding: 12px 56px 12px 0px;
    background: #F9FAFA;
    border: none
}
#navBar #subNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    position: absolute;
    width: 305px;
    height: 19px;
    left: 728px;
    top: 35px;

}
#navBar #subNav li a{
    text-decoration: none;
    color:#000;
}
#navBar .login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    gap: 10px;
    position: absolute;
    width: 149px;
    height: 47px;
    left: 1108px;
    top: 19px;
    background: #FDF5AA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-decoration: none;
    color:#000;

}
#hotFood{
height: 555px;
background: #FDF5AA;
margin-top:78px;
/* display:inline-block;  */
}
#hotFood .listFood{
    width: 40%;
    display:inline-block;
    left: 126px;
    top: 150px; 
    position: absolute;
}
#hotFood .listFood .listHotFood{
    list-style-type:decimal;
    line-height: 42px;
}
#hotFood .imgFood{
    position: absolute;
    width: 60%;
    display:inline-block;
    left: 712px;
    top: 150px;
}
#suggestFood{}

#discount{}

#Rate{}

#Footer{}
